// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comment-area{
    // border: 1px solid red;
}

#comment-item .img, #comment-area .img{
    height: 50px;
    width: 50px;

}

#comment-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 15px;
    width: 500px;
}

#comment-body {
    background-color: rgba(125, 120, 120, 0.157);
    border-radius: 5px;
    width: 400px;
    padding: 8px;
    // border: 1px solid red;
}

#comment-item .component-title {
    height: auto;
    align-items: center;;
}


#like-reply {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#like-reply div:nth-child(1){
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}

#like-reply .post-like-comment{
    padding: 0px;
    margin: 0px;
    border: none;
}


.post-like-comment{
    // border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#like-reply button{
    background-color: white;
    border: none;
    margin: 0;
    padding: 1;
    border-radius: 2px;
    &:hover{
        background-color: rgba(125, 120, 120, 0.157);
    }
}

#reply-area, #comment-area{
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
}

#reply-area form, #comment-area form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    margin: 0px;
}

#reply-area form {
    margin-top: 10px;

}

#reply-area input, #comment-area input{
    margin: 0px;
    padding: 5px;
    width: 330px ;
    border-radius: 30px;
    min-height: 20px;
    border: 1px solid rgb(153, 152, 152);
    word-wrap: break-word;
}


#reply-area button, #comment-area button {
    background-color: #B3402E;
    font-size: 15px;
    color: white;
    border: none;
    height: 30px;
    width: 80px;
    margin-top: 10px;
    border-radius: 20px;
        &:hover {
                background-color: #61342F;
            }
}

#comment-area {
    margin-left: 2px;
    margin-bottom: 10px;
    align-items: center;
}

#comment-area form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#comment-area button {
    margin: 0px;
    margin-left: 10px;
}

#comment-area+ul{
    margin-top: 20px;
}

#comment-item input{
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    height: 60px;
    width: 300px;
    &:focus{
        outline: none;
    }
}

#comment-edit-container  button{
    font-size: 15px;
    height: 30px;
    padding: 5px;
}

#comment-edit-container button:nth-child(2){
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid grey;
    color: grey;
    &:hover{
        border: 2px solid grey;;
    }
    margin-left: 5px;
}

#comment-reply-form{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 450px;
}


#comment-item .dropdown-buttons{
    margin-left: -150px;
}

#comment-paragraph p{
    width: 100%;
        // border: 1px solid red;
}

#comment-paragraph{
    // border: 1px solid red;
    word-wrap: break-word;
    overflow: auto;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}