// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.post-like-comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(65, 63, 63, 0.786);
    color: rgba(65, 63, 63, 0.786);
    font-size: 15px;
    height: 25px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.post-like-comment i {
    font-size: 15px;
    color: #B3402E;
    font-size: bold;
}


.post-like-comment div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.post-like-comment > p {
    &:hover{
        text-decoration: underline;
        color: #B3402E;
    }

}

#post .component-title {
    
}

.headline-tag {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 230px; // to be updated / removed

}

.headline-tag span {
    font-size: 15px;
    font-weight: bold;
}

.headline-tag p {
    font-size: 13px;
    color: rgba(65, 63, 63, 0.786);
    padding-top: 3px;
}

.like-comment-button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;


}

.like-comment-button i {
    padding: 0;
    margin: 0;
    margin-right: 5px;
}

.like-comment-button div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgba(65, 63, 63, 0.786);
    font-weight: bold;
    margin-top: 10px;
    height: 40px;
    width: 140px;
    border-radius: 5px;

    &:hover{
        background-color: rgba(125, 120, 120, 0.157);
    }

    
    

}