.search-container {
   position: relative;
}

.search-bar {
   position: relative;
}

 #search-parent {
     top: 70px;
     bottom: 0;
     right: 0;
     left: 0;
     background: rgba(0, 0, 0, 0.7);
     z-index: 10;
 }




 #search-child{
      z-index: 20;
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         width: 500px;
         margin-top: 660px;
         margin-left: -403px;
         min-height: 100px;
         max-height: 600px;
         padding-left: 0;
         padding-right: 0;
         overflow: hidden;
         overflow-y: scroll;
         animation-name: my-animation;
         animation-duration: 0.3s;
 }

 @keyframes my-animation {
    from {
                  display: flex;
                     flex-direction: row;
                     justify-content: center;
                     align-items: center;
                     width: 500px;
                     margin-top: 460px;
                     margin-left: -403px;
                     min-height: 100px;
                     max-height: 400px;
                     padding-left: 0;
                     padding-right: 0;
    }

    to {
            display: flex;
               flex-direction: row;
               justify-content: center;
               align-items: center;
               width: 500px;
               margin-top: 660px;
               margin-left: -403px;
               min-height: 100px;
               max-height: 600px;
               padding-left: 0;
               padding-right: 0;
    }

 }


#search-child::-webkit-scrollbar{
   display: none;
}

#search-child ul{
   width: 100%;
}


 #search-child li{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 6px;
   padding-left: 10px;
   padding-right: 10px;
   color: rgb(55, 53, 53);
   &:hover{
      background-color: rgba(125, 120, 120, 0.157);
   }
 }

  #search-child .img{
   height: 45px;
   width: 45px;
  }

  #search-child li>div:nth-child(1){
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

  }


  nav .search-bar {
     display: flex;
     align-items: center;
     margin-left: 10px;
     border-radius: 6px;
     background-color: rgba(212, 205, 205, 0.239);
     height: 40px;
      width: 300px;
     #search-box.hover {
        border: 2px solid #B3402E;
     }
  }

  .search-bar .search-bar-icon {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding-left: 5px;
     height: 100%;
  }

  .search-bar i {
     color: rgba(106, 103, 103, 0.971);
  }

  nav .search-bar input{
      background-color: rgba(0, 0, 0, 0);
      border: 1px;
      &:hover{
         background-color: rgba(0, 0, 0, 0);
      }
  }

  #searchBarActive{
   width: 400px;
   border: 2px solid #B3402E;
  }