// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.session-form {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    
}

.session-form>div {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.session-form form {
    width: 400px;
    display: flex;
    flex-direction: column;
    color: rgba(106, 103, 103, 0.971);

}

.session-form p {
    font-size: 12px;
    color: grey;
}

.session-form>div>div {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.session-label {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.session-box {
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(106, 103, 103, 0.971);;
    margin-top: 5px;
}

.session-button {
    color: white;
    height: 40px;
    background-color: #B3402E;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    &:hover {
                background-color: #61342F;
    }
    margin-top: 10px;
    margin-bottom: 10px;
}

:link {
    text-decoration: none;
    color: #B3402E;
}

.link {
    color: #B3402E;
    font-weight: bold;
}

.session-form h1 {
    font-weight: normal;

}