#user-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1100px;
    height: 600px;
    padding: 0;
    margin: 0;
    margin-top: 90px;
    // background-color: aqua;
}

#user-profile i{
    color: rgba(106, 103, 103, 0.971);
}


#user-profile-summary{
    padding: 0px;
}

#user-profile > div{
    display: flex;
    flex-direction: column;
}

#user-profile-main {
    width: 700px;
    // border: 1px solid yellow;
}

#user-profile-other {
    // position: fixed;
    left: 890px;
    width: 350px;
    height: 420px;
    // border: 1px solid green;
}

#user-profile-backgroundpic {
    height: 180px;
}

#background-image {
    margin: 0;
    padding: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    height: 100%;
    width: 100%;
}

#user-profile-backgroundpic+div {
    min-height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#user-profile-backgroundpic+div > div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 600px;
    align-items: baseline;
    // border: 1px solid  red;
}

#user-profile-backgroundpic+div >  div:nth-child(2){
    padding-top: 10px;
    padding-right: 10px;
    // border: 1px solid blueviolet;
    display: flex;
    align-items: flex-start;

}

//first and last name and pronouns
#user-profile-backgroundpic+div div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 2px;

}

#user-profile-backgroundpic+div div > span:nth-child(1) {
    font-size: 28px;
    font-weight: bold;
}

#user-profile-backgroundpic+div div>span:nth-child(2) {
    padding-left: 3px;
}


#user-profile-pic {
    margin-top: -100px;
}

//headlines and location 
#user-profile-summary h3 {
    font-size: 20px;
    font-weight: lighter;
    padding-bottom: 4px;
    
}

#user-profile-summary h4 {
    font-size: 15px;
    font-weight: lighter;
    padding-bottom: 5px;
}

#user-profile-summary .link h4{
    font-weight: bold;
    color: #B3402E;
    margin-top: 5px;
    margin-bottom: 5px;
}


#user-profile .dropdown-buttons{
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 120px;
    margin-left: -30px;

}

#user-profile .dropdown-buttons > div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

}

#user-profile .dropdown-buttons h4{
    padding: 0;
}
//two buttons 
#user-profile-backgroundpic+div>div:nth-child(1)>div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#user-profile-main button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    height: 30px;
    padding: 10px;
    font-size: 15px;
    margin: 5px;
    font-weight: bold;
}

#user-profile-main button:nth-child(2){
    background-color: white;
    color: #B3402E;
    border: 2px solid #B3402E;;
}

#user-profile-main .img{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 4px solid white;
    margin-bottom: 10px;

}

#headshot-image {
    height: 140px;
    width: 140px;
    border-radius: 50%;
}


//about
.component-title,  .component-subtitle,  .component-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: auto;
    // border: 1px solid green;
}

#update-about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#update-about p {
    margin-top: 30px;
    margin-bottom: 10px;
}

.component-body {
        flex-direction: column;
        align-items: flex-start;

}

.component-title div:nth-child(1){
    display: flex;
    flex-direction: row;
    align-items: center;
}

.component i {
    margin: 8px;
    font-size: 20px;
}

#this-icon>i{
    margin-top: 8px;
    margin-left: 15px;
}

.two-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#pronouns {
    height: 30px;
    width: 300px;
}




#edit-headshot{
    display: flex;
    flex-direction: column;
    align-items: center;

    border: none;
    background-color: rgb(48, 47, 47);
    color: white;
    height: 380px;
    width: 600px;
}

#edit-headshot .img{
    height: 200px;
    width: 200px;
    margin:20px;
    margin-bottom: 50px;
}

#edit-headshot i{
    color: white;
}

#headshot-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
    margin-bottom: 20px;
}

#headshot-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-top: 0.5px solid white;
    padding-top: 10px;
    // border:0.5px solid white;

}



#user-profile .component-body {
   padding-top: 10px;
   padding-bottom: 10px;
}

#user-profile-other ul{
    padding-top: 20px;
    width: 100%;
}

#user-profile-other li {
    // border: 1px solid red;
    width: 95%;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;

}

#user-profile-other .component-title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    // padding-bottom: 20px;
}

#user-profile-other .component-title h3 {
    font-weight: bold;
    padding-bottom: 20px;
}
