#user-feed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: $body-width;
    margin-top: 90px;
        // padding: 0;
            // margin: 0;
            // border: 1px solid red;
}

#user-feed-profile {
    width: 260px;
    position: fixed;
    top: 90px;
    // border: 1px solid red;
    // left: 100px;
    // position: fixed;
    // left: 170px;
    // top: 90px;
    // padding: 0;
    // margin: 0;
    
}

#user-feed-posts {
    width: 650px;
    margin-left: 280px;
    // margin-right: 30px;
    // padding: 0;
    // margin: 0;
            // background-color: palegoldenrod
}

#user-feed-other {
    position: fixed;
    left: 1110px;
    // top: 90px;
    width: 330px;
}


#create-post {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;

}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: aliceblue;
    margin-right: 10px;
}

.img img{
    width: 100%;
    height: 100%;
    overflow: none;
    border-radius: 50%;    
}

.comment-button {
        color: grey;
        font-size: 15px;
        font-weight: 700;
        height: 40px;
        background-color: white;
        border: none;
        border-radius: 30px;
        width: 400px;
        border:1px solid rgb(153, 152, 152) ;
        padding: 10px;
        text-align: left;
        &:hover{
            background-color: rgba(125, 120, 120, 0.157);
        }
        // margin: 10px;
}

#post{
    margin-bottom: 10px;
}

#user-feed-profile-summary{
    @include column-center-align;
    padding: 0;
    min-height: 270px;
    width: 100%;
    // border: 1px solid red;
}

#user-feed-profile-summary>div:nth-child(2){
    @include column-center-align;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    margin-top: -50px;
    // border: 1px solid yellow;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;

}

#user-feed-profile-summary .img{
    height: 100px;
    width: 100px;
    border: 2px solid white;
    margin-bottom: 15px;
}

#user-feed-profile-summary #user-profile-backgroundpic{
    height: 80px;
}

#user-feed-profile-summary h1, #user-feed-profile-summary h2, #user-feed-profile-summary h3,
#user-feed-profile-summary p{
    width: 100%;
    word-wrap: break-word;
    // border: 1px solid yellow;
    width: 220px;
    text-align: center;

    
}

#user-feed-profile-summary h1{
    font-size: 20px;
}

#user-feed-profile-summary h2 {
    font-size: 16px;
    font-weight: normal;
}
#user-feed-profile-summary p, #user-feed-profile-summary h3 {
    font-size: 15px;
    color: grey;
    padding-top: 3px;
    
}

#user-feed-profile-summary h3{
    color: $theme-color1;
    font-weight: bold;
}

#tags h3, #tags p{
    height: 25px;

}
#tags h3{
    color: $theme-color1;
    font-weight: bold;
}

// #user-feed-other .header{
//     height: 30px;
//     // border: 1px solid red;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     padding-bottom: 5px;
//     // border-bottom: 1px solid lightgray;
// }
#user-feed-other h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    // border: 1px solid green;
}

#user-feed-other p{
    margin-bottom: 15px;
}

#user-feed-other .img{
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}

#user-feed-other i {
    color:$theme-color1 ;
}

#user-feed-other .icons{
    display:  flex;
    flex-direction: row;
}