/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */


 @import './reset.scss';
 @import './mixin.scss';
 @import './modal.scss';
 @import './api/sessions.scss';
 @import './nav.scss';
 @import './api/user_feed.scss';
  @import './api/user_profile.scss';
  @import './api/posts.scss';
  @import './api/comments.scss';
  @import './api/my_network.scss';
  @import './api/search.scss';
  @import './api/experiences.scss';
 


 body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Arial";
    background-color: $theme-color3;
 }

 #root{
   width: 100%;
 }

 #app{
    @include column-center-align;
    width: 100%;
 }

 #homepage {
    background-image: url("https://static-exp1.licdn.com/sc/h/dxf91zhqd2z6b0bwg85ktm5s4");
    background-repeat: no-repeat;
    background-size: 700px 600px;
    background-position: 100% -10%;
    width: $body-width;
    height: 600px;
    margin-top: 85px;
 }

 h1 {
   font-size: 30px;
   font-weight: bold;
 }

 #homepage h1 {
    margin-top: 100px;
    width: 600px;
    font-size: 60px;
    line-height: 100px;
    font-weight: lighter;
    color: $theme-color2;
 }

form {
  @include column-center-align;
  min-width: 600px;
  padding-left: 50px;
  padding-right: 50px;
  overflow: scroll;
}

form > div {
  padding: 10px;
}

form h3 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}

form::-webkit-scrollbar {
  display: none;
}

.component {
  display: flex;
  flex-direction: column;
  border: $border1;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.component-body{
  padding-top: 20px;
  padding-bottom: 20px;
}

textarea{
  border: 1px solid rgb(153, 152, 152);

}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

button, img{
  cursor: pointer;
}