/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */


 @import './reset.scss';
 @import './modal.scss';
 @import './api/sessions.scss';
 @import './nav.scss';
 @import './api/user_feed.scss';
  @import './api/user_profile.scss';
  @import './api/posts.scss';
 


 body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Arial";
    background-color: rgba(243, 235, 221, 0.787);
 }

 #root{
   width: 100%;
 }

 #app{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
      //  background-color: aqua;
 }

 #homepage {
    background-image: url("https://static-exp1.licdn.com/sc/h/dxf91zhqd2z6b0bwg85ktm5s4");
    background-repeat: no-repeat;
    background-size: 700px 600px;
    background-position: 100% -10%;
    height: 600px;
    width: 1100px;
    margin-top: 85px;
   //  background-color: aqua;
 }

 h1 {
   font-size: 30px;
   font-weight: 700;
 }

 #homepage h1 {
    margin-top: 100px;
    width: 600px;
    font-size: 60px;
    line-height: 100px;
    font-weight: lighter;
    color: #2f6e3ecb;
 }



.test {
  margin-top: 100px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 600px;

  overflow: scroll;
  padding-left: 50px;
  padding-right: 50px;
}

form > div {

  padding: 10px;
}

#update-about {
      display: flex;
      flex-direction: column;
      align-items: center;
}

#update-about p {
  margin-top: 30px;
  margin-bottom: 10px;
}

form h3 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}