@mixin headshot {   
}

@mixin panel-component {
}


@mixin column-center-align {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

//color
$theme-color1: #B3402E;
$theme-color2: #2f6e3ecb;
$theme-color3: rgba(247, 240, 233, 0.589);

//border
$border1: 1px solid lightgray;


//width
$body-width: 1280px;

//font-size
$font-size1: 30px;
