header {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 1;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 1100px;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    color: #B3402E;
    font-size: 28px;
    padding: 3px;
    font-family: 'Arial';
    font-weight: bolder;
}

#up {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #B3402E;
    border-radius: 5px;
    color: white;
    padding: 2px;
    height: 38px;
    width: 38px;
}

#join-now, #sign-in {
    font-family: 'Arial';
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    color: rgba(72, 68, 68, 0.832);
    border-radius: 30px;
    &:hover {
                background-color: rgba(225, 218, 218, 0.814);
    }
}

#sign-in {
    color: #B3402E;
    border: 2px solid #B3402E;
    font-weight: bolder;
    text-decoration: none;
    &:hover {
        background-color:#ec968d60 ;
    }

}

nav > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

nav .comment-button {
    background-color: rgba(0, 0, 0, 0);
    width: 270px;
    height: 20px;
    border: none;
    border-radius: 0px;
    &:focus {
        outline: none;
    }
}

nav i {
    font-size: 20px;
    margin: 5px;
    // color: rgba(106, 103, 103, 0.971);
}

nav .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: rgba(106, 103, 103, 0.971);
    height: 50px;
    width: 80px;
    &:hover {
                color: rgba(77, 74, 74, 0.971);
            }
}

nav .search-bar{
    display: flex;
    align-items: center;
    margin-left: 10px;
    border-radius: 6px;
    background-color: rgba(212, 205, 205, 0.239);
    height: 40px;
    &:hover {
        border: 2px solid #B3402E;
    }
}

.search-bar .search-bar-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    height: 100%;
}
.search-bar i{
    color: rgba(106, 103, 103, 0.971);
}